*{
  font-family: 'Roboto', sans-serif;
}
h1, h3{
  font-family: 'Do Hyeon', sans-serif;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* .header{
  background: lightblue;
} */
img{
  width: 50%;
}

#like-logo{
  width: 7rem;
}
#nasa-logo{
  width: 7rem;
}
a{
  padding: 1rem;
  text-decoration: none;
  color: black;
}
header img:hover{
  cursor: pointer;
}
